# Backend - Python
backend/__pycache__/
backend/*.py[cod]
backend/*.db
backend/.env
backend/venv/

# Frontend - Node.js
frontend/node_modules/
frontend/dist/
frontend/build/

# Tizim fayllari
.DS_Store
Thumbs.db
.vscode/